/* Universal Selector & Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #e6e4e4;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}
