/* 1.Universal Selector & Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #000000;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

/* 2.Element Selectors */
h1 {
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 16px;
}

h2 {
  font-size: 2rem;
  color: #2b0fc9;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.5rem;
  color: #6305b6;
  margin-bottom: 8px;
}

p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 12px;
}

/* nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-top: 10px;
} */

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 12px 0;
  font-size: 1.2rem;

  border-top: 2px solid #71f00f;
  border-bottom: 2px solid #71f00f;
}

nav a {
  text-decoration: none;
  color: #ed1faf;
  font-weight: bold;
}
nav a:hover {
  color: #db0d0d;
}

header {
  background-color: #fceaea;
  padding: 20px;
  border-top: 3px solid #8bf03f;
  border-bottom: 3px solid #8bf03f;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* 3,4. Class Selectors and ID Selector*/

#hero {
  min-height: 25vh;
  background: linear-gradient(rgba(203, 203, 203, 0.5), rgba(46, 46, 46, 0.5)),
    url("../images/hero.png") center / cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero h1 {
  font-size: 3vw;
}

#hero p {
  font-size: 1.2rem;
  max-width: 700px;
  margin: 0 auto;
  color: #292929;
}

#header {
  background-color: #131313;
  padding: 2rem;
  text-align: center;
}

/* featured-services */
#featured-services {
  padding: 40px 50px;
}

.service-container {
  display: flex; /* Flexbox */
  gap: 20px;
  margin-top: 40px;
}

.service {
  background-color: rgb(176, 175, 175);
  padding: 20px;
  border-radius: 15px;
  flex: 1;
  box-shadow: 0 4px 10px rgb(214, 211, 211);
}
/* 5.Pseudo-class */
.service:hover {
  background-color: #959595;
  transform: translateY(-5px);
}

/*  */
